@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth@8..144,125&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
  }
  .home {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 60px; 
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 2px;
    background-color: antiquewhite;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 60;
  }
  .header-left {
    flex: 1;
  } 
  .header-logo {
    height: 120px;
  }
  .header-center {
    flex: 2;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header-icon {
    margin-left: 20px;
    position:relative;
    right: 40px;
    cursor: pointer;
  }
  .header-icon img {
    height: 40px;
  }
  .posts {

    /* margin-top: 20px;
    padding: 20px;
    max-width: 600px; */
    background-color: rgba(255, 255, 255, 0.847);
    margin-top: 1px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #807575;
    border-radius: 5px;
    position: relative;
    bottom: 850px;
    left: 600px;
  }
  /* .footer {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
  } */
