.container {
    display: flex
  }
  
  .sidebar {
    width: 20%;
    min-width: 200px; 
    padding: 10px;
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    margin-right: 20px;
  }
  
  .user-info h2 {
    margin: 0;
    padding: 0;
  }
  
  .user-info .bio {
    margin: 10px 0;
  }
  
  .followers-following span {
    margin-right: 10px;
  }
  
  .posts-container {
    margin-top: 20px;
  }
