/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
} */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}
.home {
  background-color: #f0f2f5;
  min-height: 100vh;
  padding-top: 60px; 
}
.posts {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}
.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.header-left {
  flex: 1;
} 
.header-logo {
  height: 120px;
}
.header-center {
  flex: 2;
  display: flex;
  align-items: center;
  position: relative;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-icon {
  margin-left: 20px;
  position:relative;
  right: 40px;
  cursor: pointer;
}
.header-icon img {
  height: 40px;
}
/* .post {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post .buttons button {
  background-color: #e0d4f3;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
} */

.single-post {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post-single-card {
  /* background-color: #fff;
  padding: 20px; */
  border: 2px solid black;
  /* border-radius: 5px; */
}

.post-author {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: 200px;
}

.post-content {
  font-size: 1.5em;
  border: solid rgb(204, 204, 204, 0.5);

  margin-bottom: 10px;
}

.post-image {
  width: 90%;
  max-height: 300px;
  object-fit: cover;
  border: solid;
  border-radius: 5%;
  position: relative;
  left: 25px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #e0d4f3;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.comments, .comment-modal {
  margin-top: 10px;
}

/* .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons button {
  background-color: #e0d4f3;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
} */
.delete-button {
  background-color: #ff4d4d;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}

.likes {
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 10px;
  
}

.num-likes {
  font-size: 1em;
  font-weight: bold;
  margin-right: 10px;
}

.add-like-button {
  background-color: #e0d4f3;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-like-button span {
  font-size: 0.9em;
  margin-right: 5px;
}

  

.post-modal {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #313131;
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: 50%;
}

.post-modal textarea {
  width: 600px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.post-modal .card form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}
