#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-header {
  display: flex;
  align-items: center;
  background-color: #f37878;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  flex: 0 0 100px;
  margin-right: 20px;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  flex: 1;
}

.user-info h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.user-info p {
  margin: 5px 0;
  color: #777;
}

.user-info .bio {
  background-color: #d0e7ff;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

.followers-following {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffe0e0;
  border-radius: 5px;
}

.followers-following span {
  font-size: 16px;
  color: #333;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  padding: 20px;
  width: 150px;
  height: 100vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
}

.nav-item img {
  width: 50px;
  height: 50px;
}

.nav-item span {
  margin-top: 10px;
  font-size: 16px;
  color: #00796b;
}
